[user]
	name = ToroidalFox
	# email = 93528864+ToroidalFox@users.noreply.github.com
	email = ToroidalFox@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	# helper = cache --timeout 21600
	helper = /usr/libexec/git-core/git-credential-libsecret
	helper = oauth # git-credential-oauth package
